<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	
	<p>Hello <?php echo $username;?>,</p>
 	<br>
	<p>
    	Here is your new password in our system:<br>
    	
    	<?php echo $new_password?><br>
   		<br>
   		P/s: <?php echo $message?>
	</p>

</html>