body {
    color: #797979;
	background: #f2f2f2;
    padding: 0px !important;
    margin: 0px !important;
    font-size:16px;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

a {
  background: transparent;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}

ul li {
    list-style: none;
}

p {
  margin: 0 0 10px;
}

h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h5, .h5 {
  font-size: 16px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.centered {
  text-align: center;
}

.mt {
  margin-top: 25px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}


/* HEADER */

.header, .footer {
    min-height: 60px;
    padding: 0 15px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}

.black-bg {
    background: #ffd777;
    border-bottom: 1px solid #c9aa5f;
}

/* LOGO */

a.logo {
    font-size: 20px;
    color: #ffffff;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
}

a.logo b {
    font-weight: 900;
}

/* NOTIFI */

.notify-row {
    float: left;
    margin-top: 15px;
    margin-left: 92px;
}

#top_menu .nav > li, ul.top-menu > li {
    float: left;
}

ul.top-menu > li > a {
    color: #666666;
    font-size: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border:1px solid #666666 !important;
    padding: 2px 6px;
    margin-right: 15px;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-theme {
  background-color: #68dff0;
}

.notify-row .badge {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 100;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10px;
}

/*   LOGOUT   */

.pull-right {
  float: right;
}

ul.top-menu > li > .logout {
  color: #f2f2f2;
  font-size: 12px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #64c3c2 !important;
  padding: 5px 15px;
  margin-right: 15px;
  background: #68dff0;
  margin-top: 15px;
}

ul.top-menu > li > a {
    color: #666666;
    font-size: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border:1px solid #666666 !important;
    padding: 2px 6px;
    margin-right: 15px;
}

/*   SIDEBAR   */

#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background: #424a5d;
    font-family: 'Ruda', sans-serif;
    z-index: 1001;
}

#sidebar h5 {
  color: #f2f2f2;
  font-weight: 700;
}

#sidebar h5 a:hover{
  text-decoration: underline;
}

#sidebar a{
  color: #fff;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 75px;
}

#sidebar ul li {
    position: relative;
}

ul.sidebar-menu li{
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}

ul.sidebar-menu li a{
    color: #D1D1D1;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 14px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #68dff0;
    color: #fff;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}

/*   CONTENT   */
#main-content {
    margin-left: 210px;
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    margin-left: 18%;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 79.5%;
}

.showback {
	background: #ffffff;
	padding: 15px;
	margin-bottom: 15px;
  margin-top: 25px;
	box-shadow: 0px 3px 2px #aab2bd;
  color: #111;
}

/*////////////////////////////
////////// TAB ///////////////
////////////////////////////*/

.tab-container{
  position: relative;
  bottom: -1px;
}

.tabs-menu {
    height: 30px;
    margin-left: 13px;
    margin-bottom: 0;
    /*float: left;*/
    clear: both;
}

.tabs-menu li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    background-color: #ffd777;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    padding-top: 2px;
    border-radius: 5px 5px 0 0;
}

.tabs-menu li.current {
    position: relative;
    background-color: #E64342;
    border: none;
   /* border-top: 1px solid #6E1A1A;
    border-right: 1px solid #6E1A1A;
    border-left: 1px solid #6E1A1A;*/
    z-index: 5;
}

.tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none; 
}

.tabs-menu .current a {
    color: #fff;
}

.tab {
    background-color: #fff;
    margin: 0;
    /*float: left;*/
    margin-bottom: 20px;
    width: 100%;
}

.tab-content {
    display: none;
}

#tab-1 {
 display: block;   
}

/*///////////////////////////////////
////////   BILL DETAIL    ///////////
///////////////////////////////////*/

.bill-info{
  margin-left: 65px;
}

.bill-detail{
  margin-top: 35px;
  margin-left: 65px;
  width: 85%;
  border-collapse: collapse;
  text-align: center;
}

.bill-detail tr{
  width: 100%;
  height: 35px;
}

.bill-detail .tittle{
  border-bottom: 1px solid #111;
  border-top: 1px solid #111;
  font-weight: bold;
}

.bill-detail .detail{ 
  border-bottom: 1px dashed #111;
}

.pay-info{
  border-bottom: none;
}

.pay-info-tittle{
  text-align: right;
  font-weight: bold;
}


@media print {
    #sidebar{display: none;}
    .header{display: none;}
    .black-bg{display: none;}
    .button { display: none; }
    .bill-info {display: block;}
    .bill-detail {display: block;}
}


.get-info{
  margin-left: 25%;
  width: 55%;
}

.get-info .tittle{
  font-weight: bold;
}

.get-info td{
  padding: 2% 1%;
  border-bottom: 1px solid #ddd;
}

.get-info .sub-get-info{
  width: 100%;
}

.get-info .sub-get-info td{
  border: none;
}


#button{
  float: right;
  width: auto; 
  font-size: 11pt; 
  border: 1px solid #fd9c19;
  background: #f7c402;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
  margin: 35px 215px; 
  text-align: center;
  color: #111;
  font-family: TimeNewRoman;
}

.slideshow{
  margin-left: 15%;
  width: 70%;
}

.slideshow td{
  padding-right: none;
}

.slideshow img{
  margin-right: none;
}
