
* {
  margin:0;
  padding:0;
  outline: none;
}

body{
	background: #fff;
	color: #555;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

a{
	
	text-decoration: none;
}

ul li{
	list-style: none;
}

input, select, textarea{
	border: 1px solid #ddd;
	padding: 4px;
}

h2{
	font-size: 1.66em;
	color: #EA6405;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
}

.wrapper{
	background: url("../img/bg_body.jpg") no-repeat;
	width:100%;
  	height:auto;
  	margin:0 auto;
  	text-align:left;
}

.top{
	width: 100%;
	height: 37px;
}

.main{
	margin: 0 auto;
	max-width: 1200px;
	width: 1000px;
	height: auto;
}

.topnav{
	float: right;
	overflow: hidden;
	padding-right: 10px;
	margin-bottom: 0px;
}

.topnav ul { 
	margin:0 auto; 
	padding:0; 
	float:right; 
}

.topnav li{
	padding: 10px 6px 0;
	margin: 0;
	float: right;
	font-size: 11px;
	font-weight: bold;
}

.topnav li span{
	color: #fff;
	padding-left: 10px;
}

.topnav li a{
	color: #fff;
}

.topnav li a:hover{
	text-decoration: underline;
}

.header{
	width: 100%;
	min-height: 85px;
	overflow: hidden;
	border-bottom: 5px solid #ff9a12;
}

.left-header{
	float: left;
	width: 370px;
	padding-top: 5px;
}

.logo{
	float: left;
	margin-right: 15px;
	padding-top: 10px;
}

.place{
	margin-top: 27px;
	float: left;
	color: #fff;
	background: #fcb24d;
	border: 1px solid #F18C04;
	padding: 5px 8px;
	font-size: 1.16em;
	font-weight: bold;
	border-radius: 5px; 
}

.slogan{
	color: #fe0101;
	font-size: 15px;
	width: 305px;
	font-weight: bold;
	margin-bottom: 10px;
	clear: both;
}

.right-header{
	float: right;
	width: 607px;
	padding-top: 5px;
	padding-right: 23px;
}

.nav{
	width: 100%;
	clear: both;
}

.nav ul{
	margin: 0;
	float: right;
	padding-top: 12px; 
	padding: 0;
}

.nav li{
	padding: 0;
	margin: 0;
	float: left;
	display: block;
}

.nav li a{
	font-weight: bold;
	padding-top: 9px;
	font-size: 1.33em;
	background: url(../img/bg_menu.png) no-repeat;
	width: 200px;
	height: 28px;
	text-align: center;
	display: block;
	color: black;
}

.nav li a:hover, .nav .current a {
	/*background:url(../img/bg_menu_current.png) no-repeat; */
}

.highlight{
	background-color: #eaeaeb;
}

.highlight-inner{
	width: 386px;
	min-height: 236px;
	float: left;
	display: block;
	background: url(../img/bg_search.png) no-repeat;
	padding: 10px 0 10px 10px;
	font-size: 1.16em;
}

.highlight-inner p{
	margin-bottom: 15px;
	color: #fff;
	font-weight: bold;
	padding-left: 5px;
}

.form-search{
	width: 374px;
	padding: 0px 0 8px 0;
	background: #fff;
	border-radius: 5px;
	color: black;
}

.form-search form{
	width: 354px;
	margin: 10px;
	padding-top: 10px;
}

.form-search form h3{
	background: url(../img/bg-line-gradient.png) no-repeat scroll 160px;
	color: red;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 10px;
	padding: 0;
	margin-top: 5px;
}

.form-search form label{
	color: #414141;
	display: block;
	padding: 8px 0 7px;
	font-weight: normal;
}

.form-search form input{
	width: 319px;
}

.form-search form .btn{
	background: #fe110b;
	border-radius: 5px;
	width: 120px;
	height: 32px;
	margin-top: 10px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
}

.slideshow{
	width: 590px;
	float: left;
	height: 245px;
	background-color: #999;
}

/*
slide show css*/



/* set border-box so that percents can be used for width, padding, etc (personal preference) */
.cycle-slideshow, .cycle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


.cycle-slideshow { 
	width: 590px;
	float: left;
	height: 245px;
	
	background-color: #999;
    background: url(http://malsup.github.com/images/spinner.gif) 50% 50% no-repeat;

 }

/* slideshow images (for most of the demos, these are the actual "slides") */
.cycle-slideshow img { 
    /* 
    some of these styles will be set by the plugin (by default) but setting them here
    helps avoid flash-of-unstyled-content
    */
    position: absolute; top: 0; left: 0;
    width: 590px; 
    height: 245px;
    padding: 0; display: block;
}

/* in case script does not load */
.cycle-slideshow img:first-child {
    position: static; z-index: 100;
}

/* pager */
.cycle-pager { 
    text-align: center; width: 100%; z-index: 500; position: absolute; top: 10px; overflow: hidden;
}
.cycle-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: #ddd; cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { color: #D69746;}
.cycle-pager > * { cursor: pointer;}


/* caption */
.cycle-caption { position: absolute; color: white; bottom: 15px; right: 15px; z-index: 700; }


/* overlay */
.cycle-overlay { 
    font-family: tahoma, arial;
    position: absolute; bottom: 0; width: 100%; z-index: 600;
    background: black; color: white; padding: 15px; opacity: .5;
}


/* prev / next links */
.cycle-prev, .cycle-next { position: absolute; top: 0; width: 30%; opacity: 0; filter: alpha(opacity=0); z-index: 800; height: 100%; cursor: pointer; }
.cycle-prev { left: 0;  background: url(http://malsup.github.com/images/left.png) 50% 50% no-repeat;}
.cycle-next { right: 0; background: url(http://malsup.github.com/images/right.png) 50% 50% no-repeat;}
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }

.disabled { opacity: .5; filter:alpha(opacity=50); }


/* display paused text on top of paused slideshow */
.cycle-paused:after {
    content: 'Paused'; color: white; background: black; padding: 10px;
    z-index: 500; position: absolute; top: 10px; right: 10px;
    border-radius: 10px;
    opacity: .5; filter: alpha(opacity=50);
}

.example-pager{
	text-align: center;
}
.example-pager span {
    font-size: 50px;
    width: 16px;
    height: 16px;
    display: inline-block;
    color: #ddd;
    
}

.example-pager > * {
    cursor: pointer;

}
.example-pager span.cycle-pager-active {
    color: #D69746;
}


/* 
    media queries 
    some style overrides to make things more pleasant on mobile devices
*/

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .cycle-slideshow { width: 200px;}
    .cycle-overlay { padding: 4px }
    .cycle-caption { bottom: 4px; right: 4px }
}

/*end slide show css*/

.clear{
	padding: 0;
	margin: 0;
	clear: both;
	line-height: 0;
}

.home-content{
	width: 610px;
	float: left;
	overflow: hidden;
	margin-top: 2%;
}

.home-content-inner{
	width: 290px;
	float: left;
	margin-right: 15px;
}

.home-content h2{
	margin-bottom: 15px;
}

.info-type{
	font-size: 12px;
	padding-left: 85px;
	position: relative;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	padding-bottom: 10px;
}

.info-type img{
	position: absolute;
	left: 0;
	top: 0;
}

.info-type h3{
	margin-bottom: 3px;
	/*margin-left: 5%;*/
}

.info-type h3 a{
	color: #111;
}

.info-type p{
	margin-bottom: 3px;
}

.viewmore{
	text-align: right;
}

.viewmore a{
	color: #FF6C00;
}

.contextual{
	width: 364px;
	float: right;
	padding-right: 10px;
}

.title1{
	background: url(../img/ico_delivery.png) no-repeat;
	padding: 25px 0 10px 50px;
	border-bottom: 1px solid #ddd;
	display: block;
	color: #fe110b;
	font-size: 14px;
	font-weight: bold;
}

.blog-img{
	overflow: hidden;
	margin-top: 15px;
}

.blog-img ul{
	margin-top: 0px;
}

.photo{
	width: 100%;
	margin-left: 5%;
	padding: 0;
}

.photo img{
	width: 99px;
	height: 76px;
}

.photo li{
	width: 120px;
	margin: 0 0 0 1px;
	float: left;
	padding: 0;
}

.photo li a{
	float: left;
	width: auto;
	height: auto;
	border: none;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 15px;
	color: #333;
}

.photo li a:hover{
	font-weight: bold;
	text-decoration: underline;
}

/*/////////////////////////////
///////GET FOOD LIST///////////
////////////////////////////*/

.menu-categories{
	display: block;
}

.image{
	margin: 10% 5%;
}

.menu-categories h2{
	color: #333;
	font-weight: bold;
	margin-top: 35px;
	border-bottom: 1px dotted #333;
	padding-bottom: 16px;
	margin-bottom: 16px;
}

.menu-categories ul{
	list-style-type: none;
	line-height: 2em;
}

.menu-categories li{
	padding-bottom: 9px;
}

.menu-categories li a{
	color: #50aecc;
	line-height: 1.7em;
	font-size: 1.4em;
	text-align: left;
	text-decoration: none;
	display: block;
}

.menu-categories span{
	display: block;
	width: 35px;
	height: 1px;
	margin-top: 4px;
	background-color: #d8edf3;
}

.restaurant-info-panel {
	height: 155px;
}

.restaurant-info-panel h1{
	display: block;
	font-weight: bold;
	font-size: 2.6em;
	color: #ff8800;
	margin: 5% 5% 2% 5%;
	
}

.restaurant-info-panel-info{
	font-size: 1.25em;
	min-height: 75px;
	margin-left: 5%;
}

.add-to-favorite a{
	color: red;
	cursor: pointer;
	margin-left: 5px;
}

.add-to-favorite img:hover{
	background-image: url(../img/favorited.png);
	cursor: pointer;
	
}

.add-to-favorite .added{
	cursor: auto;
}

.restaurant-tab{
	height: 55px;
	margin-bottom: 6px;
	margin-left: 25px;
	clear: both;
	width: 100%;
	border-bottom: 1px solid #eee;
	padding-top: 15px;
}

.restaurant-tab-info{
	position: absolute;
	overflow: hidden;
}

.restaurant-tab-info div{
	float: left;
	padding: 6px;
	
}

.current{
	background: #fff;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #fff;
	border-radius: 4px 4px 0 0;
}

.restaurant-tab-info a{
	padding: 12px;
	font-size: 1.3em;
	color: #ff8800;
	text-decoration: none;
	display: block;
}

.tab-content {
	/*float: left;*/
	margin: 5% 5%;
	color: #111;
	display: none;
}

.tab-content h3{
	color: #ef0e13;
	font-weight: bold;
	font-size: 16px;
	padding: 15px 0 0 10px;
	margin-bottom: 15px;
	height: 37px; 
}

#tab1{
	display: block;
}

.kind-food{
	font-weight: bold;
	color: #ff8800;
	font-size: 16px;
	margin: 0 0 12px;
	clear: both;
}

.menu-list{
	display: block;
	overflow: hidden;
	height: auto;
	position: relative;
}

.menu-item{
	width: 99%;
	display: block;
	border-bottom: 1px dotted #ddd;
	float: left;
	margin: 4px 2px 2px 5px;
	padding-bottom: 6px;
}

.menu-item-add{
	float: right;
}

.button-order{
	background: url(../img/button-order.png) no-repeat scroll 48px 0;
	width: 116px;
	height: 26px;
	float: left;
	display: block;
	color: #fff;
	font-weight: bold;
	padding-top: 6px;
	text-align: right;
	padding-right: 30px;
}

.menu-item-name{
	width: 55%;
	margin-right: 10px;
	color: #111;
	float: left;
	font-size: 12px;
	padding-bottom: 2px;
	position: relative;
}

.menu-item-name img{
	float: left;
	margin-right: 14px;
	padding: 1px;
	width: 95px;
	height: 95px;
}

.menu-item-price{
	width: 15%;
	text-align: right;
	font-weight: bold;
	padding-top: 8px;
	float: right;
	padding-right: 10px;
}

.basket a{
	position: fixed;
	transform: scale(1) rotate(20deg) ;
	top: 35%;
	left: 87%;
	cursor: pointer;
	background-image: url(../img/basket.png); 
	background-color: #50aecc;
	background-repeat: no-repeat;
	background-position: center 22%;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.5);
}

.count{
	color: #50aecc;
	font-weight: bold;
	width: 100%;
	text-align: center;
	font-size: 20px;
	margin: 0;
	position: absolute;
	top: 29%;
}

.price{
	color: #fff;
	font-weight: bolder;
	font-size: 30px;
	width: 100%;
	text-align: center;
	white-space: nowrap;
	margin: 0;
	position: absolute;
	top: 55%;
}

.opened{
	min-height: 155px;
	width: 555px;
	display: block;
	padding: 24px;
	padding-top: 34px;
	background-color: #50aecc;
	border-radius: 5px;
	position: fixed;
}

.basket_close{
	position: absolute;
	right: 8px;
	top: 24px;
}

.my_popup_close{
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
	color: #fff;
}

.basket-detail{
	overflow-y: auto;
	width: 100%;
	border-top: 2px dotted white;
	padding-top: 8px; 
	margin-top: 3%;
}

.note-restaurant{
	width: 95%;
	display: block;
	clear: both;
	text-align: center;
	color: red;
	font-weight: bold;
	font-size: 14px;
}

.basket-entry{
	clear: both;
	overflow: hidden;
	border-bottom: 1px dotted #b1d1dc;
	padding: 5px 0;
	padding-bottom: 8px;
	font-size: 14px;
	position: relative;
}

.basket-tittle{
	font-size: 1.5em;
	font-weight: bold;
	color: #fff;
	float: left;
	padding-bottom: 15px;
}

.plus-minus-button{
	margin-bottom: 6px;
}

.basket-product-quantity{
	width: auto;
	float: left;
}


.basket-product-quantity input{
	width: 22px;
	height: 22px;
	border-radius: 3px;
	padding: 1px 0 0 0;
	color: #337491;
	font-weight: bold;
	font-size: 14px;
	box-shadow: 0px 2px 1px #337491;
	border: none;
	line-height: 21px;
}

.button-white{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	background: #fff no-repeat;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
}

.plus-minus-button span{
	font-weight: bold;
	color: white;
	margin: 0;
	display: inline-block;
	text-align: center;
	min-width: 25px;
	padding-top: 5px;
}

.basket-product-name{
	float: left;
	font-size: 1.1em;
	margin-left: 17px;
	font-weight: bold;
	color: #fff;
	padding-top: 5px;
}

.basket-product-price{
	float: right;
	font-size: 1.1em;
	width: auto;
	text-align: right;
	padding-top: 5px;
	padding-right: 15px;
	font-weight: bold;
	color: #fff;
}

.basket-product-delete button{
	width: 20px;
	height: 20px;
	float: right;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	background-color: #fa4329;
	font-size: 12;
	font-weight: bold;
	color: #fff;
}

.basket-total{
	padding-top: 12px;
	border-bottom: none;
	text-align: right;
	clear: both;
	overflow: hidden;
	padding: 5px 0;
	padding-bottom: 8px;
	font-size: 14px;
	position: relative;
	color: #fff;
}

.basket-total-price{
	font-size: 1.1em;
	padding-top: 5px;
	padding-right: 35px;
	float: right;
	font-weight: bold;
}

.basket-total-tittle{
	margin-left: 0;
	float: right;
	overflow: hidden;
	padding-right: 1em;
	font-weight: normal;
	padding-top: 5px;
}

.button-confirm{
	float: right;
	height: 35px;
	line-height: 35px;
	margin-top: 15px;
	display: inline-block;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	text-align: center;
	text-decoration: none;
	width: auto;
	font-size: 1.2em;
	font-weight: bold;
	color: #fff;
	margin: 3px;
	padding: 0px 24px;
	background-color: #f82718;
}

.basket-message{
	padding: 10px 5px 10px 0;
	overflow: hidden;
	color: #fff;
	font-size: 14px;
}


/*////////////////////////////////
///////register-restaurant////////
////////////////////////////////*/

.container{
	margin: 0 auto;
	max-width: 1200px;
	width: 1000px;
	padding: 25px 0;
	overflow: hidden;
}

.container-less{
	margin: 0 auto;
	max-width: 1200px;
	width: 1000px;
	padding: 25px 0;
	overflow: hidden;
	height: 395px;
}

.register{
	background: #fff;
	padding: 20px 60px;
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 55%;
	margin: 0 auto;
	height: auto;
}

.register p{
	width: 100%;
	overflow: hidden;
	margin-bottom: 15px;
}


.register a{
	cursor: pointer;
	font-weight: bold;
}

.register a:hover{
	text-decoration: underline;
}

.register-table tr{
	height: 45px;
}

.register label{
	float: left;
	/*width: 45%;*/
	/*float: left;*/
	margin-right: 5px;
	display: block;
	padding-top: 7px;
}

.register input[type = "text"], [type = "number"], [type = "date"], [type = "email"], [type = "password"]{
	width: 75%;
	padding: 5px;
}

.register input:hover{
	border: 1px solid #0ca0ff;
}

.btn{
	width: 100%;

}

.button{
	/*float: right;*/
	font-size: 1em;
	width: auto;	
	border: 1px solid #fd9c19;
	background: #f7c402;
	border-radius: 5px;
	font-weight: bold;
	color: #333;
	cursor: pointer;
	padding: 5px 10px;
	text-align: center;
}

.button-left{
	margin: 25px 75px; 
	float: left;
}

.button-right{
	margin: 25px 75px; 
	
	float: right;
}



/*//////////////////////////
/////get restaurant list////
//////////////////////////*/

.search-list{
	height: 55px;
	border-radius: 10px;
	border: 1px solid rgb(255, 159, 23);
	margin-bottom: 8px;
	box-shadow: 0px 2px 0px rgb(255, 154, 18);
	width: 98%;
	background-color: #f9f0e1;
	margin-top: 25px;
}

.search-list span{
	font-size: 13px;
	margin: 20px 15px;
	float: left;
}

.search-list select{
	margin: 15px 15px 15px -10px;
	float: left;
	width: 20%;
}

.search-list input[type = 'checkbox'] {
	margin-top: 20px;
	margin-left: 25px;
	padding: 15px 15px 15px 5px;
	transform: scale(1.5);
	float: left;
}

.search-list input[type = 'text']{
	width: 175px;
	float: left;
	margin: 18px 0 18px 15px;
	
}

.search-list input[type = 'submit']{
	background: #f6c401;
	border-radius: 0 6px 6px 0;
	width: 75px;
	float: left;
	margin: 18px  0;
}

.block-left{
	border: #ddd 1px solid;
	border-radius: 8px;
	padding: 0;
	margin-bottom: 15px;
	margin-right: 8px;
}

.block-left h3{
	border-bottom: none;
	font-size: 1.25em;
	color: #222;
	font-weight: bold;
	background: url('../img/bg_title_where.png') no-repeat;
	height: 27px;
	padding: 10px 0 0 5px;
	margin-bottom: 0;
	text-align: center;
}

.left-menu{
	padding: 12px;
	overflow: hidden;
	display: block;
}

.left-menu-list{
	margin-top: 5px;
}

.left-menu li{
	padding-left: 15px;
	margin: 0 0 12px;
	display: block;
	color: #f00e13;
	background: url('../img/ico_left_menu_list.gif') no-repeat 0 5px;
	list-style: none;
	font-size: 13px;
}

.left-menu li a{
	color: black;
	text-decoration: underline;
}

.res-list-wrap{
	display: block;
	clear: both;
	border: #ddd 1px solid;
	padding: 15px;
	border-radius: 8px;

}

.res-list{
	margin-left: 0;
	padding-right: 15px;
	display: block; 

}

.res-item{
	clear: both;
	padding-top: 15px;
	padding-bottom: 5px;
	overflow: hidden;
	background: url('../img/bg_res_item.gif');
	color: #ef0e13;
	position: relative;
}

.res-item-img{
	width: 165px;
	float: left;
	display: block;
}

.res-item-name{
	width: 350px;
	padding: 5px 15px;
	float: left;
}

.res-item-name h3{
	margin-bottom: 5px;
	font-size: 1.3em;
	font-weight: bold;
}

.res-item-contact{
	font-size: 11px;
	color: black;
	padding-bottom: 15px;
}

.res-item-delivery{
	font-size: 12px;
	color: #555;
	padding-top: 5px;
}

.res-item-status{
	padding-top: 25px;
	float: right;
	text-align: center;
	font-weight: bold;
}

.res-item-status span{
	display: block;
	font-size: 12px;
	margin-top: 5px;
	padding-top: 7px;
	text-align: center;
	font-weight: bold;
	background: url('../img/bg_menu_order.jpg') no-repeat;
	width: 128px;
	height: 39px;
}

.res-item-status a{
	color: red;
}


/*///////////////////////
/////ADD BILL INFO////////
///////////////////////*/

.input-label{
	font-size: 1.2em;
	padding: 15px 0 10px 0;
}

.bill-confirm input, textarea{
	border-radius: 5px;
}

.bill-confirm input[type = 'text'], [type = 'number']{
	box-shadow: 1px 2px 2px 0px rgba(211, 211, 211, 0.63) inset;
	border: 1px solid rgba(255, 255, 255, 1);
	background-color: #f6f6f6;
	height: 25px;
	width: 100%;
	padding-left: 10px;
}

.bill-confirm textarea{
	background-color: #f6f6f6;
	border: 1px solid rgba(255, 255, 255, 1);
	box-shadow: 1px 2px 2px 0px rgba(211, 211, 211, 0.63) inset;
	padding: 10px;
}

.order-button{
	padding-left: 115px;
	padding-top: 45px;
	padding-right: 55px; 
}

.button-form{
	font-size: 1.2em;
	width: 115px;	
	border: 1px solid #fd9c19;
	background: #f7c402;
	font-weight: bold;
	color: #333;
	cursor: pointer;
	padding: 5px 10px;
	margin: 35px 5px; 
	text-align: center;
	position: relative;
}

/*//////////////////////////
///////CONFIRM BILL/////////
//////////////////////////*/

.bill-confirm{
	width: 75%;
	margin: 3% 15%;
}

.bill-info{
	margin: 3% auto;
}

.bill-detail{
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

.bill-detail tr{
	width: 100%;
	height: 35px;
}

.bill-detail .tittle{
	border-bottom: 1px solid #111;
	border-top: 1px solid #111;
	font-weight: bold;
}

.bill-detail .bill-header{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #fd9c19;
	/*border: none;*/
}

.bill-detail .bill-header td{
	text-transform: uppercase; 
	padding-bottom: 15px;
}

.bill-detail .detail{	
	border-bottom: 1px dashed #111;
}

.pay-info{
	border-bottom: none;
}

.pay-info-tittle{
	text-align: right;
	font-weight: bold;
}
