body{
	background-image:url(../img/bg.png);
}

a{
	text-decoration: none;
	color: #666;
}

a:hover{
	text-decoration: underline;
}

.lg-container{
	width:275px;
	margin:100px auto;
	padding:20px 40px;
	border:1px solid #f4f4f4;
	background:rgba(255,255,255,.5);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	-webkit-box-shadow: 0 0 2px #aaa;
	-moz-box-shadow: 0 0 2px #aaa;
	box-shadow: 0 0 2px #aaa;
}

.lg-container h1{
	/*font-family: 'Oleo Script', cursive;*/
	font-size:40px;
	text-align:center;
}

#lg-form > div {
	margin:10px 5px;
	padding:5px 0;
}

#lg-form label{
	display: none;
	font-size: 20px;
	line-height: 25px;
}

#lg-form input[type="text"],
#lg-form input[type="password"]{
	border:1px solid rgba(51,51,51,.5);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	padding: 5px;
	font-size: 16px;
	line-height: 20px;
	width: 100%;
	/*font-family: 'Oleo Script', cursive;*/
	text-align:center;
}

/*#lg-form div:nth-child(3) {
	text-align:center;
}*/

#lg-form button{
	float: right;
	font-size: 18px;
	border:1px solid #000;
	padding:5px 10px;
	border:1px solid rgba(51,51,51,.5);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	
	-webkit-box-shadow: 2px 1px 1px #aaa;
	-moz-box-shadow: 2px 1px 1px #aaa;
	box-shadow: 2px 1px 1px #aaa;
	cursor:pointer;
}

/*#lg-form button:active{
	-webkit-box-shadow: 0px 0px 1px #aaa;
	-moz-box-shadow: 0px 0px 1px #aaa;
	box-shadow: 0px 0px 1px #aaa;
}*/

#lg-form button:hover{
	background:#f4f4f4;
}