
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
  position: relative;
}
.col-md-12 {
  width: 100%;
}
.col-md-11 {
  width: 91.66666667%;
}
.col-md-10 {
  width: 83.33333333%;
}
.col-md-9 {
  width: 75%;
}
.col-md-8 {
  width: 66.66666667%;
}
.col-md-7 {
  width: 58.33333333%;
}
.col-md-6 {
  width: 50%;
}
.col-md-5 {
  width: 41.66666667%;
}
.col-md-4 {
  width: 33.33333333%;
}
.col-md-3 {
  width: 25%;
}
.col-md-2 {
  width: 16.66666667%;
}
.col-md-1 {
  width: 8.33333333%;
}

.clear {
  clear:both;
}

.footer{
  width: 100%;
  position: relative;
  float: left;
}

.bottom{
  text-align: center;
  border-top:1px solid #DDD; 
  padding:20px 0;
  background-color: #fff;
}

.table_tittle{
  font-family: UVF Legendaria; 
  font-size:40px; 
  text-align: center;
  margin: 3% ;
  color: #111;
}

.error-message{
    color: red;
    padding: 5px 0 0px 15px;
    font-weight: normal;
    font-style: italic;
}

/*///////////////////
//////Add table//////
///////////////////*/

.addTable, .button{
  width: 60%;
  margin-left: 20%; 
  font-weight:bold;
    font-size: 18px;  
}

.addTable tr{
  height: 45px;
    border-bottom:rgba(0,0,0,.05) 1px solid;
}

.addTable input{
  height: 25px;
  font-size: 15px;
  padding-left: 5px; 
  width: 95%;
}

.addTable input[type = 'number']{
  width: 55%;
}

.select_food{
  width: 100%;
}
/*
.select_food td{
  padding-right: 5%;
}*/

.select_food select{
  width: 100%;
}

.select_time select{
  width: 30%;
}

textarea{
  width: 100%;
}

select{
  height: auto;
  min-height: 30px;
  width: 55%;
}

.button td{
  padding: 3%;
}
/*.button {
  width:100px;
  height:35px;
  text-align:center;
  color:#fff;
  line-height:35px;
}
.button a {
  display:block;
  height:35px;
  text-align:center;
  color:#fff;
  line-height:35px;
  background:#e63636;
}
.button a:hover {
  display:block;
  height:35px;
  text-align:center;
  color:#fff;
  line-height:35px;
  background:#838383;
}*/
.many_input td{
  font-weight: normal;
  padding-left: 5%;
}

.many_input input{
  width: 55%;
}

.many_input select{
  width: 16%;
}

/*///////////////////
---- GET TABLE ------
///////////////////*/

.get_table{
  margin: 0 5% 3% 5%;
  width: 90%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  border-collapse: collapse;
}

.get_table select{
  width: 95%;
}

.row_tittle{
  background-color: #CF3231;
  color: #fff;
  font-weight: bold; 
}

.add_button{
  text-align: center;
  background-color: #C72929;
  color: #fff;
}

.row_header{
  font-weight: bold;
  color: #fff;
  background-color: #E64342;
}

.row_header a{
  color: #fff;
}

.row_header a:hover{
  text-decoration: underline;
}

.row{
  background-color: #f6f6f6;
}

.row:nth-of-type(odd){
  background-color: #e9e9e9;
}

.get_table td{
  padding: 6px 12px;
  border-style: none;
}

.get_table span{
  margin-right: 15px;
}

.get_table input[type="text"]{
  width: 200px;
}

/*COMMENT*/

.submit-comment{
  float: right;
}

table.comment{
   color: #2b2b2b;
   width: 100%;
   background-color: #FFFFFF;
   width:95%;
   table-layout:fixed;
   margin-left: 3%;
   min-width:500px;
   border-collapse:collapse; 
   border-radius: 15px;
  font-size: 16px; 
  }

.comment tr{
  border-bottom:rgba(0,0,0,.05) 1px solid;
  height:30px;
  background-color: #FFFFFF;
  vertical-align: baseline;
}

.comment td{
  width: 95%;
  word-wrap: break-word;
  padding: 15px 5px;
  text-align: left; 
}

 span.name {
    color: blue;
    text-decoration: none;
}

 span.subtext{
    font-size: smaller;
    color: #9197a3;
  }

table.subcomment{
  color: #2b2b2b;
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  width:95%;
  table-layout:fixed;
  margin-top: 15px;
  margin-left: 3%; 
  min-width:500px;
  border-collapse:collapse; 
  border-radius: 15px;
}

.subcomment tr{
  height:30px;
  vertical-align: baseline;
  border-bottom:rgba(0,0,0,.05) 1px solid;
}

.subcomment tbody{
  border-left: 2px solid #dcdee3;
  margin-left: -2px;
  padding-left: 8px;
} 


.subcomment td{
  word-wrap: break-word;
  white-space: nowrap;
  padding:5px;
  text-align: left; 
}

.right{
  margin-left: 75%;
}

  