<?php echo $this->element('top_customer') ?>

<div class="highlight">
	<div class="container-less">
		<div class="register">
			<h3 style="color:red">Đơn đặt hàng của bạn đã được gửi thành công!</h3></br>
			Cảm ơn bạn đã đặt hàng tại nhà hàng.
		</div>
	</div>
</div>