
<?php 
	echo $this->element('top_manager'); 
	echo $this->element('left_manager');
?>

<div id="main-contend">
	<div class="wrapper">
		<div class="col-md-12">
			<div class="showback">
			</div>
		</div>
	</div>
</div>

